.logo {
  font-family: righteous, cursive;
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 14px;

}

.container {
  width: 100%;
}

.imageandtext {
  position: relative;
}

.image {
  width: 100%;
  height: 65%;
 
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px; 
  font-family: righteous, cursive;
  
}

.text-title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.text-details {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}


.subscribe-button {
  border-radius: 35px;
  padding: 5px;
  width: 215px;
  height: 60px;
  background-color: blue;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-color: blue;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  
}

.subscribe-button:hover {
  background-color: darkblue;
  border-color: darkblue;
}

.companies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.companies {
  height: 75px;
  margin-bottom: 15px;
}

.social-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin-inline: 5px;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 30px;
}

.fa-instagram {
  background: #f0a44d;
  color: white;
  border-radius: 30px;
}